<h2 mat-dialog-title>Relatorio:</h2>
<div mat-dialog-content>
  <section class="mat-typography">
    <h3>Imovel: {{imovel.status}}</h3>

    <h4>Caracteristicas:</h4>
    <p>Aluguel: {{imovel.vl_aluguel | currencyFormat : 2}}</p>
    <p>Quartos: {{imovel.vl_quartos}}</p>
    <p>Banheiros: {{imovel.vl_banheiros}}</p>
    <p>Area: {{imovel.vl_area}}</p>
    
    <h4>Localização:</h4>
    <p>CEP: {{imovel.cep}}</p>
    <p>Rua: {{imovel.rua}}</p>
    <p>Bairro: {{imovel.bairro}}</p>
    <p>Cidade: {{imovel.cidade}}</p>
    <p>Pais: {{imovel.pais}}</p>

    <p>Número de Reclamações: {{imovel.reclamacoes.length}}</p>
  </section>  
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="">Fechar</button>
</div>