<div class="main">

  
  <mat-toolbar color="primary" class="main-toolbar">
    <button mat-icon-button class="search" (click)="search()">
      <mat-icon *ngIf="!nav.searchBar">search</mat-icon>
      <mat-icon *ngIf="nav.searchBar">close</mat-icon>
    </button>
    <span class="space"></span>
    <h1>Imobiliaria</h1>
    <span class="space"></span>
    <button mat-icon-button class="btn-login" (click)="gotoLogin()">
      <mat-icon *ngIf="!nav.logged">account_circle</mat-icon>
      <span *ngIf="nav.logged">{{user.user.primeiro_nome}}</span>
    </button>
  </mat-toolbar>
  
  <router-outlet></router-outlet>
</div>